<div data-refresh-list-target="list">
  <div class="title-align-center" style="margin-top:80px;">
    <h2>Catalog</h2>
  </div>
  <%= render 'card' %>
</div>

<div class="w-100 d-flex align-item-center justify-content-center">
  <%= pagy_nav(@pagy).html_safe %>
</div>
