<div data-refresh-list-target="list">
  <div class="title-align-center" style="margin-top:80px;">
    <h2>Catalog</h2>
  </div>

    <% @toys.each do |toy| %>
      <div class="card">
      <div class="button-label">
        <%= toy.age_category %>
      </div>
        <h4><%= link_to toy.name, toy_path(toy) %></h4>
        <p><%= link_to "Discover more", toy, class: 'button-pink', style:"text-align:center;" %></p>
      </div>
    <% end %>
</div>
