<div data-controller="refresh-list">



    <%= link_to 'Toys for your baby(0-12 mos).', toys_path(:baby_scope => "baby") %>
    <%= link_to 'Toys for your toddler(1-3 yrs).', toys_path(:toddler_scope => "toddler") %>
    <%= link_to 'Toys for your pre-schooler(3-5 yrs).', toys_path(:preschooler_scope => "preschool") %>

    <%= render "searchresult" %>

</div>
