<div class="container-index">
  <div data-controller="refresh-list">
    <div class="image-back">
      <h2 style="margin:140px 0;">Catalog</h2>
    </div>
    <div class="filters-layout">
      <h3 style="margin:30px 0;">Select the category</h3>
      <div class="card" style="padding:20px;width: 50%;">
        <div class="category-btns">
          <div class="button-label">
            <%= link_to 'Baby toys', toys_path(:baby_scope => "baby") %>
          </div>
          <div class="button-label">
            <%= link_to 'Toddler toys', toys_path(:toddler_scope => "toddler") %>
          </div>
          <div class="button-label">
            <%= link_to 'Pre-schooler toys', toys_path(:preschool_scope => "preschool") %>
          </div>
        </div>
      </div>
    </div>
    <%= render "searchresult" %>
  </div>
</div>
