// Specific CSS for your home-page

.container-hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

h1 {
  font-size: 96px;
  font-family: 'Fredoka One', cursive;
  color: #0E0000;
}

h3 {
  font-size: 28px;
}
