// Specific CSS for your home-page

// Display of the layout of the pages

.container-hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container-form {
  width: 550px;
  margin: 100px auto;
}

.full-height {
  min-height: 62vh;
}
