// Import page-specific CSS files here.
@import "home";
@import "plans";
@import "cart";
@import "toyshow";
@import "toyindex";
@import "dashboard";

.index-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.dash-cards {
  display: flex;
}
