// Import page-specific CSS files here.
@import "home";
@import "plans";
@import "cart";
@import "toyshow";
@import "toyindex";
@import "dashboard";

.index-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.dash-cards {
  display: flex;
}

.content-card-index {
  display: flex;
  flex-direction: column;
}

.content-card-index .content-button-index {
  flex: 1 1 auto;
}

.content-card-image > img {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.image-back {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-image: url("shape-1.png");
  background-size: cover;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  max-width: 1000%;
  width: auto;
}

.image-back > p {
  margin: -14px;
}

.container-index {
  margin: -100px auto;
}
