h2 {
  text-align: center;
  text-decoration: underline;
}
.dash-cards {
  display: flex;
  margin: 20px;
  color: white;
}

.card {
  margin: 20px;
  background-image: linear-gradient(to right, #72e7bc, #697fe2);
}
