<div class="page-container">

  <div class="title-align-center">
    <h2>Your cart</h2>
    <p>See the detail of each toy you selected!</p>
  </div>

  <div style="margin-top:80px;">
    <div class="cart-layout">
      <p><%= image_tag "cart-image.png", style:"width:30vw;" %></p>
      <div style="flex-grow:1;">
        <div class="card" style="margin-bottom:30px;">
        <% @current_monthly_subscription.toys.each do |toy| %>
          <div class="content-cart-layout">
            <p><%= image_tag "Croods - Chart.png", style:"width:150px;"%></p>
            <h4><%= toy.name %></h4>
          </div>
        <% end %>
        <%= link_to "Book now!", confirm_monthly_subscription_path(@monthly_subscription), method: :patch, class: 'button-pink', style:"text-align:center;" %>
        </div>
      </div>
    </div>
  </div>
</div>
