<footer>
    <p><%= image_tag "logo-white.png" %></p>
    <ul>
      <li><a href="#">About</a></li>
      <li><a href="#">How it works</a></li>
      <li><a href="#">FAQ's</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
    <hr />
    <ul>
      <li><a href="#"></a><i class="fa-brands fa-facebook-f"></i></li>
      <li><a href="#"></a><i class="fa-brands fa-instagram"></i></li>
      <li><a href="#"></a><i class="fa-brands fa-twitter"></i></li>
    </ul>
  </footer>
