<footer>
    <p><%= image_tag "logo-white.png" %></p>
    <ul>
      <li><a href="/toys">Toys</a></li>
      <li><a href="#">About us</a></li>
      <li><a href="#">Our mision</a></li>
      <li><a href="/subscription">Subscription plans</a></li>
      <li><a href="#">FAQ's</a></li>
    </ul>
    <hr />
    <ul>
      <li><a href="#"></a><i class="fab fa-facebook-f"></i></li>
      <li><a href="#"></a><i class="fab fa-instagram"></i></li>
      <li><a href="#"></a><i class="fab fa-twitter"></i></li>
    </ul>
    <p>Copyright 2021 ® All rights reserved.</p>
  </footer>
