

<%# navbar %>
  <nav class="nav-bar">
    <%= image_tag "logo-white.png" %>
    <div class="navbar-links">
      <a href="#">About</a>
      <a href="#">How it works</a>
      <a href="#">FAQ's</a>
      <a href="#">Contact</a>
      <p class="button-pink">Sign Up</p>
    </div>
  </nav>

<script src="https://kit.fontawesome.com/b1e2763d5e.js" crossorigin="anonymous"></script>


<%# footer %>
<footer>
  <p><%= image_tag "logo-white.png" %></p>
  <ul>
    <li><a href="#">About</a></li>
    <li><a href="#">How it works</a></li>
    <li><a href="#">FAQ's</a></li>
    <li><a href="#">Contact</a></li>
  </ul>
  <hr />
  <ul>
    <li><a href="#"></a><i class="fa-brands fa-facebook-f"></i></li>
    <li><a href="#"></a><i class="fa-brands fa-instagram"></i></li>
    <li><a href="#"></a><i class="fa-brands fa-twitter"></i></li>
  </ul>
</footer>


<%# buttons %>
<div class="button">
  <a href="#" class="button-green">Sign Up</a>
</div>

<div class="button">
  <a href="#" class="button-pink">Sign Up</a>
</div>

<div class="button">
  <a href="#" class="button-blue">Sign Up</a>
</div>

<div class="button">
  <a href="#" class="button-empty">Sign Up</a>
</div>

<div class="button">
  <a href="#" class="button-label">Label</a>
</div>

<div class="button">
  <a href="#" class="button-empty-pink">Sign Up</a>
</div>


<%# cards %>
<div class="card" style="width:200px">
  <%= image_tag "food.png" %>
  <div class="button">
    <a href="#" class="button-label">Label</a>
  </div>
  <div class="container">
    <h3>Title</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit, torquent nullam egestas quis eget accumsan leo.</p>
  </div>
</div>

<div class="card" style="width:200px">
  <%= image_tag "food.png" %>
  <div class="button">
    <a href="#" class="button-label">Label</a>
  </div>
  <div class="container">
    <h3>Title</h3>
    <!-- <p>Lorem ipsum dolor sit amet consectetur adipiscing elit, torquent nullam egestas quis eget accumsan leo.</p>  -->
  </div>
</div>
