<link rel="stylesheet" href="style.css">

<%# navbar %>
<nav class="nav-bar">
  <h2><img src="logo.png"></h2>
  <ul>
    <li><a href="#">About</a></li>
    <li><a href="#">How it works</a></li>
    <li><a href="#">FAQ's</a></li>
    <li><a href="#">Contact</a></li>
  </ul>
  <p class="btn">Sign In</p>
</nav>

<link rel="stylesheet" href="style.css">
<script src="https://kit.fontawesome.com/b1e2763d5e.js" crossorigin="anonymous"></script>


<%# footer %>
<footer>
  <p><img src="logo-white.png"></p>
  <ul>
    <li><a href="#">About</a></li>
    <li><a href="#">How it works</a></li>
    <li><a href="#">FAQ's</a></li>
    <li><a href="#">Contact</a></li>
  </ul>
  <hr />
  <ul>
    <li><a href="#"></a><i class="fa-brands fa-facebook-f"></i></li>
    <li><a href="#"></a><i class="fa-brands fa-instagram"></i></li>
    <li><a href="#"></a><i class="fa-brands fa-twitter"></i></li>
  </ul>
</footer>


<%# buttons %>
<link rel="stylesheet" href="style.css">

<div class="btn">
  <a href="#" class="btn-green">Sign Up</a>
</div>

<div class="btn">
  <a href="#" class="btn-pink">Sign Up</a>
</div>

<div class="btn">
  <a href="#" class="btn-blue">Sign Up</a>
</div>

<div class="btn">
  <a href="#" class="btn-empty">Sign Up</a>
</div>

<div class="btn">
  <a href="#" class="btn-label">Label</a>
</div>


<link rel="stylesheet" href="style.css">


<%# cards %>
<div class="card" style="width:200px">
  <img src="food.png" alt="Avatar" style="width:200px">
  <div class="btn">
    <a href="#" class="btn-label">Label</a>
  </div>
  <div class="container">
    <h3>Title</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit, torquent nullam egestas quis eget accumsan leo.</p>
  </div>
</div>

<div class="card" style="width:200px">
  <img src="food.png" alt="Avatar" style="width:200px">
  <div class="btn">
    <a href="#" class="btn-label">Label</a>
  </div>
  <div class="container">
    <h3>Title</h3>
    <!-- <p>Lorem ipsum dolor sit amet consectetur adipiscing elit, torquent nullam egestas quis eget accumsan leo.</p>  -->
  </div>
</div>
