<div class="container-hero">
  <div>
    <h1><strong>SwapToy</strong></h1>
    <h3>More choices, less money.</h3>
  </div>
  <div>
    <%= image_tag("landing-image.png", width: 500, height: 450) %>
  </div>
</div>


<div class="button">
  <a href="/users/sign_up" class="button-green">Sign Up</a>
</div>


<div class="dropdown">
  <h2>Frequently Asked Question</h2>
    <div class="row">
      <div class="col">
        <div class="tabs">
          <div class="tab">
            <input type="checkbox" id="chck1">
            <label class="tab-label" for="chck1">Item 1</label>
            <div class="tab-content">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum, reiciendis!
            </div>
          </div>
          <div class="tab">
            <input type="checkbox" id="chck2">
            <label class="tab-label" for="chck2">Item 2</label>
            <div class="tab-content">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. A, in!
            </div>
          </div>
        </div>
      </div>
    </div>
</div>


<div class="pricing">
  <h2>Ready to start with SwapToy?</h2>
  <p class="pricing-para">Chose the package tht suits you.</p>

  <div class="pricing-cards">

    <div class="pricing-card" style="width:200px">
      <div class="container">
        <h3>Title</h3>
        <p>- Lorem Ipsum</p>
        <p>- Lorem Ipsum</p>
        <p>- Lorem Ipsum</p>
      </div>
      <div class="button">
        <a href="#" class="button-label">Label</a>
      </div>
    </div>

    <div class="pricing-card" style="width:200px">
      <div class="container">
        <h3>Title</h3>
        <p>- Lorem Ipsum</p>
        <p>- Lorem Ipsum</p>
        <p>- Lorem Ipsum</p>
      </div>
      <div class="button">
        <a href="#" class="button-label">Label</a>
      </div>
    </div>

  </div>

</div>
