<div class="container">
  <div calss="header-text">
    <h1><strong>SwapToy</strong></h1>
    <h3>More choices, less money.</h3>
  </div>
  <div class="header-img">
    <%= image_tag("landing-image.png",
                  width: 500, height: 450) %>
  </div>
</div>


<div class="button">
  <a href="/toys" class="button-green">Sign Up</a>
</div>
