<div class="container-hero">
  <div>
    <h1><strong>SwapToy</strong></h1>
    <h3>More choices, less money.</h3>
  </div>
  <div>
    <%= image_tag("landing-image.png",
                  width: 500, height: 450) %>
  </div>
</div>


<div class="button">
  <a href="/users/sign_up" class="button-green">Sign Up</a>
</div>
