@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.button {
  font-family: 'Inter', sans-serif;
  text-align: center;
  margin: 30px;
}

.button-green {
  text-decoration: none;
  background-color: #35C993;
  color: white;
  padding: 10px 24px;
  border-radius: 10px;
  margin: 0px;
  cursor: pointer;
}

.button-green:hover{
  text-decoration: none;
  color: white;
  background-color: #6A7EDB;
}

.button-pink {
  text-decoration: none;
  background-color: #E08EAC;
  color: white;
  padding: 10px 24px;
  border-radius: 10px;
  margin: 0px;
  cursor: pointer;
}

.button-pink:hover {
  text-decoration: none;
  color: white;
  background-color:#35C993;
}

.button-blue {
  text-decoration: none;
  background-color: #6A7EDB;
  color: white;
  padding: 10px 24px;
  border-radius: 10px;
  margin: 0px;
  cursor: pointer;
}

.button-blue:hover {
  text-decoration: none;
  color: white;
  background-color: #E08EAC;
}

.button-empty {
  text-decoration: none;
  color: #6A7EDB;
  padding: 10px 24px;
  border-radius: 10px;
  border: 2px solid #6A7EDB;
  margin: 0px;
  cursor: pointer;
}

.button-empty:hover {
  text-decoration: none;
  color: #E08EAC;
  border: 2px solid #E08EAC;
}

.button-empty-pink {
  text-decoration: none;
  color: #E08EAC;
  padding: 10px 24px;
  border-radius: 10px;
  border: 2px solid #E08EAC;
  margin: 0px;
  cursor: pointer;
}

.button-empty-pink > a{
  text-decoration: none;
  color: #E08EAC;
}


.button-empty-pink:hover {
  text-decoration: none;
  color: #35C993;
  border: 2px solid #35C993;
}

.button-label {
  text-decoration: none;
  background-color: #6A7EDB;
  color: white;
  padding: 6px 24px;
  border-radius: 50px;
  margin: 0px;
  cursor: pointer;
  letter-spacing: 0.08rem;
  text-transform: uppercase;
  font-size: smaller;
  font-weight: 400;
  padding-top: 8px;
}

.button-label:hover {
  text-decoration: none;
  color: white;
  background-color: #E08EAC;
}

.button-label-empty {
  text-decoration: none;
  border: 1px solid #6A7EDB;
  color: #6A7EDB;
  padding: 6px 24px;
  border-radius: 50px;
  margin: 0px;
  cursor: pointer;
}

.button-label-empty:hover {
  text-decoration: none;
  color: #E08EAC;
  border: 1px solid #E08EAC;
}

.baby-btn {

  text-decoration: none;
  background-color: #35C993;
  color: white;
  padding: 10px 24px;
  border-radius: 10px;
  margin: 0px;
  cursor: pointer;
}

.toddler-btn {
  text-decoration: none;
  background-color: #35C993;
  color: white;
  padding: 10px 24px;
  border-radius: 10px;
  margin: 0px;
  cursor: pointer;
}

.preschooler-btn {

  background-color: #6af1d0;
  text-decoration: none;
  background-color: #35C993;    color: white;
  padding: 10px 24px;
  border-radius: 10px;
  margin: 0px;
  cursor: pointer;
}

.category-btns {
  display: flex;
  justify-content: space-around;
}
