@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.card {
  font-family: 'Inter', sans-serif;
  border-radius: 20px;
  padding: 40px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.toy-card {
  font-family: 'Inter', sans-serif;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2);
  background-color: white;
  margin-bottom: 30px;
  margin-right: 20px;
  height: auto;
  padding: 20px;
}

.toy-card:hover {
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.4);
}

.toy-card > p {
  font-weight: 700;
  font-size: 18px;
  text-align: center;
}
