.nav-bar {
  font-family: 'Inter', sans-serif;
  display: flex;
  justify-content: space-around;
  padding-left: 0px;
  padding: 15px 30px 15px 30px;
  border: 0px solid #2D2D2D;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  position: relative;
  top: -10px;
  background-image: linear-gradient(to right, #35C993, #6A7EDB);
}


.navbar-links {
  display: flex;
  list-style: none;
  align-items: center;
  text-align: center;
}

.navbar-links a {
  text-decoration: none;
  color: white;
  padding: 0 20px 0 20px;
}

.navbar-links a:hover {
  text-decoration: none;
  color: #6b7ddb;
}

.item {
  flex-grow: 2;
}

.navbar a {
  color: #0E0000;
}
