.nav-bar-background {
  background-image: linear-gradient(to right, #35C993, #6A7EDB);
}

.nav-bar {
  font-family: 'Inter', sans-serif;
  display: flex;
  justify-content: space-between;
  padding-left: 0px;
  padding: 10px 30px 10px 30px;
  border: 0px solid #2D2D2D;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;

  background-image: linear-gradient(to right, #35C993, #6A7EDB);
  position: -webkit-sticky;
	position: sticky;
	top: 0;
}

.sticky {
  position: -webkit-sticky;
	position: sticky;
	top: 0;
}

.navbar-links {
  display: flex;
  list-style: none;
  align-items: center;
  text-align: center;
}

.navbar-links a {
  text-decoration: none;
  color: white;
  margin: 10px;
}

.navbar-links-item {
  padding: 0 20px 0 20px;
}

.navbar-links a:hover {
  text-decoration: none;
  color: #6b7ddb;
}

.navbar-login {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.item {
  flex-grow: 2;
}

.navbar a {
  color: #0E0000;
}
