// Typo's

h1 {
  font-family: 'Fredoka One', cursive;
  font-size: 72px;
}

h2 {
  font-family: 'Fredoka One', cursive;
  font-size: 48px;
  background-image: linear-gradient(#6A7EDB, #E08EAC);
    background-size: 100%;
    background-repeat: repeat;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

h3 {
  font-family: 'Fredoka One', cursive;
  font-size: 28px;
  color: #6A7EDB;
}

h4 {
  font-family: 'Fredoka One', cursive;
  font-size: 24px;
  color: #E08EAC;
}

h5 {
  font-family: 'Fredoka One', cursive;
  font-size: 20px;
  color: #6A7EDB;
}

p {
  font-size: 16px;
}
